<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <!-- class="login-register img-fluid" -->
  <div
    class="login-register img-fluid"
    style="
      background-image: url(../../../assets/imagenes/background/background5.jpg);
    "
  >
    <div class="login-box bg-login card">
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          id="loginform"
        >
          <h3
            style="font-family: cuatro"
            class="box-title m-b-20 text-white text-center"
          >
            Iniciar Sesion
          </h3>

          <div class="form-group">
            <div class="col-xs-12 p-2">
              <input
                class="form-control"
                type="text"
                placeholder="Nombre de usuario"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 p-2">
              <input
                class="form-control"
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              />
            </div>
          </div>

          <div class="text-center p-2">
            <button
              class="btn btn-block btn-lg btn-danger btn-rounded"
              type="submit"
              style="font-family: uno"
            >
              Acceder<img
                class="img-fluid text-center"
                style="width: 50px"
                src="../../../assets/imagenes/background/POKEBALL.gif"
                alt=""
              />
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
