<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
  <div
    class="login-register img-fluid"
    style="
      background-image: url(../../../assets/imagenes/background/background.png);
    "
  >
    <div class="login-box card">
      <div class="card-body">
        <form
          class="form-horizontal form-material"
          id="loginform"
          action="index.html"
        >
          <h3 class="box-title m-b-20 text-center">Iniciar Sesion</h3>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="text"
                required=""
                placeholder="Nombre de usuario"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input
                class="form-control"
                type="password"
                required=""
                placeholder="Contraseña"
              />
            </div>
          </div>

          <div class="text-center p-2">
            <button
              class="btn btn-block btn-lg btn-info btn-rounded"
              type="submit"
            >
              Acceder
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
