@font-face {
  font-family: uno;
  src: url(../assets/font-family/uno.ttf);
}
@font-face {
  font-family: dos;
  src: url(../assets/font-family/dos.ttf);
}
@font-face {
  font-family: tres;
  src: url(../assets/font-family/tres.ttf);
}
@font-face {
  font-family: cuatro;
  src: url(../assets/font-family/cuatro.ttf);
}
@font-face {
  font-family: cinco;
  src: url(../assets/font-family/cinco.ttf);
}
@font-face {
  font-family: seis;
  src: url(../assets/font-family/seis.ttf);
}
@font-face {
  font-family: siete;
  src: url(../assets/font-family/siete.ttf);
}
@font-face {
  font-family: ocho;
  src: url(../assets/font-family/ocho.ttf);
}
@font-face {
  font-family: nueve;
  src: url(../assets/font-family/nueve.ttf);
}
@font-face {
  font-family: diezA;
  src: url(../assets/font-family/diezA.ttf);
}
@font-face {
  font-family: diezB;
  src: url(../assets/font-family/diezB.ttf);
}
